{% block video_compound_widget %}
    {% if form.vars.custom_label is defined and form.vars.custom_label %}
            <h3>{{ form.vars.custom_label }}</h3>
    {% endif %}

    <div class="form-group video-compound-container">
        {# Left column: video preview #}
        <div class="video-left">
            {% if form.preview.vars.value %}
                <div class="video-preview-wrapper">
                    <div class="video-preview">
                        {{ form.preview.vars.value|raw }}
                    </div>
                    {% set productId = form.productId.vars.value %}
                    <a href="{{ path('productvideoloops_delete_video', {'idProduct': productId}) }}"
                       class="delete-video tooltip-link"
                       data-toggle="pstooltip"
                       title="{{ 'Delete'|trans({}, 'Modules.Productvideoloops.Videocompoundhtmltwig') }}"
                       data-placement="right">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            {% else %}
                <div class="video-placeholder">
                    <em>{{ 'No video'|trans({}, 'Modules.Productvideoloops.Videocompoundhtmltwig') }}</em>
                </div>
            {% endif %}
        </div>

        {# Right column: upload form #}
        <div class="video-right">
            {{ form_errors(form.file) }}
            <label>{{ form_label(form.file) }}</label>
            <div>
                {{ form_widget(form.file) }}
            </div>
        </div>

        {# Help Box icon #}
        <span class="help-box"
              data-toggle="popover"
              data-content="{{ 'Upload a valid MP4 file with a maximum size of 5MB.'|trans({}, 'Modules.Productvideoloops.Videocompoundhtmltwig') }}"
              data-original-title=""
              data-trigger="hover"
              title="">
        </span>
    </div>
{% endblock %}
